.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #627f61;
  z-index: 100;
}

.main-header::before,
.main-header::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.main-header::before {
  left: -100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.main-header::after {
  left: 0;
  background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4));
  transition: 0.5s;
}

.main-header:hover::after {
  left: 100%;
}

.brand-logo {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.nav-links a {
  font-size: 1.15rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

.menu-btn {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  display: none;
  cursor: pointer;
  z-index: 101;
  gap: 0.5rem;
  align-items: center;
}

#nav-toggle {
  display: none;
}

box-icon {
  width: 2.8rem;
  height: 2.8rem;
  color: white;
}

@media (max-width: 992px) {
  .main-header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  .menu-btn {
    display: inline-flex;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    overflow: hidden;
    z-index: 99;
    flex-direction: column;
    align-items: center;
  }

  .menu-btn #close-icon {
    display: none;
  }

  .nav-links a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: 0.3s ease;
    opacity: 0;
  }

  #nav-toggle:checked ~ .menu-btn #open-icon {
    display: none;
  }

  #nav-toggle:checked ~ .menu-btn #close-icon {
    display: block;
  }

  #nav-toggle:checked ~ .nav-links {
    height: 17.7rem;
  }

  #nav-toggle:checked ~ .nav-links a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
}
