.home-page-section {
  position: relative;
}

.home-page-container {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 8rem;
}

.video-container {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: brightness(0.2);
}

.home-page-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.amj-name-top-left {
  position: absolute;
  top: 1rem;
  left: 2rem;
  max-width: 100%;
  border-radius: 5px;
}

.amj-left-corner-frame {
  max-width: 220px;
}

.amj-logo-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-top: 2rem;
}

.amj-logo-no-bg {
  max-width: 100%;
  width: 500px;
  height: auto;
  object-fit: contain;
}

.subscript-text-under-logo {
  color: #ffffff;
  text-align: center;
  margin-top: -10rem;
  margin-bottom: 4rem;
}

.larger-sub-text {
  font-family: "Anton", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: -1rem;
}

.smaller-sub-text {
  font-family: "Anton", sans-serif;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 400;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* adjust height to your liking */
  }
}

.arrow {
  margin: 0 auto;
  display: block;
  margin-top: -4rem;
  max-width: 100%;
  width: 2rem;

  animation: bounce 1.2s ease-in-out infinite;
}

@media (max-width: 1440px) {
  .home-page-container {
    height: auto;
  }
}

@media (max-width: 1024px) {
  .home-page-container {
    height: 100dvh;
    height: 100vh;
  }

  .gold-overlay {
    margin-top: -5rem;
    height: 24rem;
  }

  .subscript-text-under-logo {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .amj-left-corner-frame {
    width: 10rem;
    margin-left: -25px;
  }

  .amj-logo-centered {
    width: 26rem;
    margin-bottom: 4rem;
  }

  .amj-logo-no-bg {
    width: 22rem;
  }

  .subscript-text-under-logo {
    padding: 0.5rem;
  }

  .larger-sub-text {
    font-size: clamp(1rem, 10vw, 2rem);
  }

  .smaller-sub-text {
    font-size: clamp(1rem, 10vw, 1.5rem);
    line-height: 2.5rem;
  }
}

@media (max-width: 375px) {
  .amj-logo-centered {
    margin-top: -5rem;
  }
}

@media (max-width: 360px) {
  .amj-logo-centered {
    margin-top: 4rem;
  }
}
